/* styles.css or in your component's CSS module */
.responsive-container {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .responsive-container {
    width: 95%;
  }
}
.fc-daygrid-day.selected-day {
  background-color: #cce5ff !important;
  border-radius: 6px;
}
.foggy-background{
  background-color: #11111177;
  border-color: #333333
}
.gray-border{
  border-color: #111111;
}
.day-gradient{
  background: linear-gradient(90deg, #22222288, #DDDDDD88);
}
.exercise-color{
  color: #e285f4;
}

