.recipe-card-list-item{
    width: auto;
    color: white;
    background-color: #222222DD;
    border-color: orange;
    border-width: 3px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
}
.exercise-card-list-item{
    width: auto;
    color: white;
    background-color: #222222DD;
    border-color: indigo;
    border-width: 3px;
    border-radius: 15px;
    margin: 5px;
    padding: 10px;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
}
.item-expanded{
    height:fit-content;
}
.item-closed{
    height:100px;
}
.color-white{
    color: white;
}
.color-orange{
    color: orange;
}
.color-indigo{
    color: indigo;
}
.orange-outline{
    border-color: orange;
}
.indigo-outline{
    border-color: indigo;
}
.recipe-button{
  border-color: orange;
}
.exercise-button{
  border-color: indigo;
}
.outline{
  border-color: #FFFFFF;
}
.edit-card-background{
    background:radial-gradient(circle, #FF0000, #FFFF00);
    overflow: auto;
}
.recipe-name-textarea{
    background-color: #222222DD;
    color: wheat;
    resize:none;
    min-height:80px;
    width: 83%;
    height: auto;
    margin:10px;
    padding: 10px;
    border: 5px solid #ccc;
    font-size: 1rem;
}
.recipe-textarea{
    background-color: #222222DD;
    color: wheat;
    resize:none;
    min-height:200px;
    width: 83%;
    height: auto;
    margin:10px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 1rem;
}
